/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* reset.css debut */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* reset.css fin */

/* mon codage */
*{
 scroll-behavior: smooth;
}
body{
	width: 100%;
}
section{
	display:block;
	padding: 50px 0;
	/* margin: 25px 0; */
}
.titre{
	font-family: 'Playlist-Script';
	color: #9443AB;
	text-align: center;
	font-size: 40px;
	margin: 0  0 50px  0;
}
#reduir{
	width: 85%;
}
/* nav */
.nav-mobile{
	display: none;
}
.navbar{
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top:0;
	left:0;
	background-color: #EDF6DE;
	overflow-x: hidden;
	transition: 0.5s;
}
.navbar a{
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 12px;
	color: #9443AB;
	display: block;
	transition: 0.3s;
}
.navbar a:hover{
	font-weight: bolder;
}
.navbar .closeNav{
	position: absolute;
	top: 0;
	right: 25px;
	margin-left: 50px;
}
.navbar ul{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	text-align:center;

}
.navbar ul li{
	list-style-type: none;
	width: 100%;
}

#body>span{
	position: fixed;
	margin: 6px;
	left: 55px;
}
/* fin nav */
/* header */
.navmobile{
	display: none;
}
#header{
	background-image: url(../img/banniere.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 42em;
}
.opacity{
	position: relative;
	top: 450px;
}
@font-face {
	font-family: 'Playlist-Script';
	src: url("../police/Playlist-Script.otf");
}
header>div>h1{
	opacity: 1;
	color: #9443AB;
	text-align: center;
	font-size: 150px;
	font-family: 'Playlist-Script';
}
header>div>h2{
	opacity: 1;
	text-align: center;
	font-size: 35px;
}
.vide2{
	width: 100%;
	height: 125px;
}
/* fin du header */
/* 1er section A PROPOS */

.rowwrap{
	margin: 20px 0 0 0;
	display:flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}
.moi{
	width: 100%;

}
.rond{
	overflow: hidden;
	border-radius: 200px;
	width: 400px;
	height: 400px;
	box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
}
.center-all>p{
	text-align:center;
	padding: 20px;
	font-size: 18px;
}
.center-a{
	display: block;
	width: 100%;
	text-align: center;
	margin:75px;
}
.none{
	display: none;
}
/* bouton  */
.bouton{
	margin:35px;
	text-align: center;
}
.center-all a:last-child{
	font-family: 'Playlist-Script';
	font-size: 35px;
	text-decoration: none;
	color:#9443AB;
	padding: 25px 35px;
  text-align: center;
  cursor: pointer;
  outline: none;
  background-color: #EDF6DE;
  border: none;
  border-radius: 50px;
  box-shadow: 0 9px #999;
}
.center-all a{
	display:block;
	width: 40%;
	margin: 50px auto 0;
}
.center-all a:hover {
	background-color: #9443AB;
	color: #EDF6DE;
}

/* label>a:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
} */
/* fin bouton */
/* fin 1er section */
/* section2 COMPETENCES/EXPERIENCES */
/* bulle */
.circle{
	display:block;
	border: solid 2px #9443AB;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	margin:0;
}
.circle>p{
	top:50%;
	position: relative;
	transform: translate(0,-50%);
}

/* fin bulle */
.tablink{
	/* background-color:#9443AB ; */
	color:black;
	float: left;

	outline:none;
	cursor:pointer;
	padding:14px 16px;
	font-size: 25px;
	width: calc(100%/3);
	margin: 0 0 50px 0;
}
.tablink:hover{
	box-shadow:5px 2px 2px black;
}
.tabcontent{
	display:none;
}
#competences, #experiences, #formation{
	background-color: #EDF6DE;
}

.text li{
	display: inline-block;
	margin:50px 15px;
}
.ex h2{
	font-weight: bolder;
	margin:15px 0px;
	color: #9443AB;
}
.p1{
	margin: 115px 25px;
	text-align: center;
}
.p2,.p3{
	text-align: center;
}
.logo{
	margin: 25px;
}
.boubou{
	text-align: center;
}
.bouledog{
	overflow: hidden;
	border-radius: 150px;
	width: 300px;
	height: 300px;
}
.text, .diplome{
	text-align: center;
	margin: 50px 20px;
}
.padding{
	padding:25px;
}

.dip{
	overflow: hidden;
	border-radius: 150px;
	width: 250px;
	height: 250px;
}
/* fin section 2 */
/* formation */

.text h2{
	font-weight: bolder;
	margin:15px 0px;
	color:#9443AB;
}

/* fin formation */
/* section 3 INFORMATIQUE */


.col .width{
	width: 50%;
}
.col{
	display: inline-block;
	width: 24%;
	text-align: center;
}
.ta-center h3{
	font-weight: bolder;
}
/* fin section3 */
/* section 4 cv */

/* fin section 4 */
/* section 5 PORTFOLIO */
.portfolio{
	box-sizing: border-box;
	background-color: #EDF6DE;
}
/* test */
.slideshow-contener{
	display: inline-block;
  width: 49%;
  position: relative;
  margin: 50px 0;
	text-align: -webkit-center;
}

.mySlides2 {
	width: 50%;
  display: none;
}
.mySlides{
	width: 50%;
	display: none;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -135px;
  padding: 110px;
  color: black;
  font-weight: bolder;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.arrow{
	text-align: initial;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* .prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
} */

/* Number text (1/17 ou 1/40 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}


@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* fin test */
/* fin loisir */
/* projet */
.inline-block{
	display: inline-block;
	width: 49%;
}

/* .ct{
	display: inline-block;
	background-image: url("../img/laura-decroue-007-optimisé.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 32%;
	height: 321px;

} */
/* templetenoel */

.respont{
	width: 50%;
	cursor: zoom-in;
}
/* fin templetenoel */
/* fin projet */
/* contact */


.telephone{
	display: inline-block;
	width: 50%;
	text-align: center;
}
.email{
	display: inline-block;
	width: 50%;
	float: right;
	text-align: center;
}

/* fin contact */
footer{
	background-color: black;
display: flex;
flex-direction: row;
justify-content: space-between;
}
#reseau{
	display: flex;
	flex-direction: column;
}
#reseau>a{
	justify-content: flex-end;
}
.mention{
	color: white;
	width: 100%;
}
.mention>p{
	text-align: center;
	margin: 76px 0 0 0;
	font-size: 18px;
	font-weight: bolder;
}
@media screen and (max-width:480px) {
	body{
		margin:0;
	}
	.cv{
		display: none;
	}
	.contact{
		display: none;
	}
	.navbar a{
		padding:0;
	}
	.navbar{
		width: 12%;
	}
	.nav-mobile{
		display: block;
		/* width: 100%; */
	}
	.nav-pc{
		display: none;
	}
	.navmobile{
		display: block;
		width: 40px;
	}
	#nav img{
		width: 100%;
	}
	span{
		margin: 2px;
		left: 0;
	}
	.flex{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		width: 100%;
		position: fixed;
		z-index: 1;
		top: 0;
		overflow-x: hidden;
		padding-top: 5px;
	}
	.navmobile>ul{
		list-style-type: none;
	}
	#body>span{
		left:inherit;
	}
/* header */
	header>div>h1{
		font-size: 35px;
	}
	header>div>h2{
		font-size: 18px;
	}
	.opacity{
		top: 126px;
	}
	#header{
		height: 15em;
	}
	/* fin  header */
	/* a propos */
	.center-all{
		padding: 50px 0 0 0;
	}
	.rond{
		width: 200px;
		height: 200px;
	}
	.bouton{
		width: 66%;
	}
	label>a{
		font-size: 18px;
	}
	/* fin a propos */
	/* Tab */
	.tablink{
		font-size: 12px;
		padding: 14px 0;
	}
	.circle{
		width: 150px;
		height: 150px;
	}
	.text li{
		margin:10px 5px;
	}
	/* fin Tab */
	/*informatique  */
	.col .width{
		width: 30%
	}
	.col{
		display: block;
		width: 100%;
		text-align: center;
		margin:25px 0;
	}
	/* fin informatique */
/* portfolio */
.slideshow-contener{
	display: block;
	width: 100%;
}
.prev, .next{
	margin-top:-85px;
	padding: 55px;
}
/* fin portfolio */
/* projet */
.inline-block{
	width: 100%;
	margin: 15px 0;
}
.respont{
	width: 100%;
}

/* fin projet */
/* footer */
.mention>p{
	font-size: 12px;
}
.reseau{
	width: 25px;
}
#reseau{
	flex-direction: column-reverse;
}
/* Templete MAil Noël */
.blockquoteartdevivre{
  color: #457DBB;
  font-size: 18px;
  line-height: 25px;
}
.blockquoteartdevivre h8{
  font-family: playfair_displayregular, sans-serif;
  font-size: 36px;
  margin: 10px 10px;
  color: #457DBB;
}
