/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* reset.css debut */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* reset.css fin */

/* mon codage */
body{
	width: 100%;
}
.titre{
	color: #9443AB;
	text-align: center;
	font-size: 25px;
	margin: 75px;
}
#reduir{
	width: 85%;
}
/* nav */
.nav-mobile{
	display: none;
}
.navbar{
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top:0;
	left:0;
	background-color: #EDF6DE;
	overflow-x: hidden;
	transition: 0.5s;
}
.navbar a{
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 12px;
	color: #9443AB;
	display: block;
	transition: 0.3s;
}
.navbar a:hover{
	font-weight: bolder;
}
.navbar .closeNav{
	position: absolute;
	top: 0;
	right: 25px;
	margin-left: 50px;
}
.navbar ul{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	text-align:center;

}
.navbar ul li{
	list-style-type: none;
	width: 100%;
}

span{
	position: fixed;
	margin: 6px;
	left: 55px;
}
/* fin nav */
/* header */
.navmobile{
	display: none;
}
header{
	background-image: url(../img/banniere.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 42em;
}
.opacity{
	position: relative;
	top: 450px;
}
@font-face {
	font-family: 'Playlist-Script';
	src: url("../police/Playlist-Script.otf");
}
header>div>h1{
	opacity: 1;
	color: #9443AB;
	text-align: center;
	font-size: 150px;
	font-family: 'Playlist-Script';
}
header>div>h2{
	opacity: 1;
	text-align: center;
	font-size: 35px;
}
.vide2{
	width: 100%;
	height: 125px;
}
/* fin du header */
/* 1er section A PROPOS */
.section-apropos{
	display: block;
}
.rowwrap{
	margin: 20px 0 0 0;
	display:flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}
.moi{
	width: 100%;
}
.rond{
	overflow: hidden;
	-webkit-border-radius:200px;
	-moz-border-radius:200px;
	border-radius: 200px;
	width: 400px;
	height: 400px;
}
.center-all>p{
	text-align:center;
	margin: 40px;
	font-size: 18px;
}
/* fin 1er section */
/* section2 COMPETENCES/EXPERIENCES */
/* bulle */
.circle{
	display:block;
	background: silver;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	margin:0;
}
.circle>p{
	top:50%;
	position: relative;
	transform: translate(0,-50%);
}

/* fin bulle */
.tablink{
	background-color:#9443AB ;
	color:black;
	float: left;
	border:none;
	outline:none;
	cursor:pointer;
	padding:14px 16px;
	font-size: 25px;
	width: calc(100%/3);
	margin: 0 0 50px 0;
}
.tablink:hover{
	background-color:#fff ;
}
.tabcontent{
	display:none;
}
#competences, #experiences, #formation{
	background-color: #EDF6DE;
}
.competences{
	display: block;
}
.text li{
	display: inline-block;
	margin:50px 15px;
}
.ex h2{
	font-weight: bolder;
	margin:15px 0px;
	color: #9443AB;
}
.p1{
	margin: 115px 25px;
	text-align: center;
}
.p2,.p3{
	text-align: center;
}
.logo{
	margin: 25px;
}
.boubou{
	text-align: center;
}
.bouledog{
	overflow: hidden;
	-webkit-border-radius:150px;
	-moz-border-radius:150px;
	border-radius: 150px;
	width: 300px;
	height: 300px;
}
.text, .diplome{
	text-align: center;
	margin: 50px 20px;
}


.dip{
	overflow: hidden;
	-webkit-border-radius:150px;
	-moz-border-radius:150px;
	border-radius: 150px;
	width: 250px;
	height: 250px;
}
/* fin section 2 */
/* formation */
.titre-formation{
	margin:25px;
}
.text h2{
	font-weight: bolder;
	margin:15px 0px;
	color:#9443AB;
}

/* fin formation */
/* section 3 INFORMATIQUE */
.titre-informatique{
	margin:25px;
}

.col .width{
	width: 50%;
}
.col{
	display: inline-block;
	width: 33%;
	text-align: center;
}
.ta-center h3{
	font-weight: bolder;
}
/* fin section3 */
/* section 4 cv */
.cv{
	margin: 150px 0px;
}
.row .imgcv{
	width: 100%;
	text-align: center;
}
.imgcv h2{
	margin: 50px;
}
/* fin section 4 */
/* section 5 PORTFOLIO */
.portfolio{
	box-sizing: border-box;
	background-color: #EDF6DE;
}
/* test */
.slideshow-contener{
  width: 1000px;
  position: relative;
  margin: auto;
	text-align: -webkit-center;
}

.mySlides {
	width: 50%;
  display: none;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 0px;
  color: black;
  font-weight: bolder;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
	transform: translate(0 -50%);
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/* Caption text */
/* .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
} */

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* fin test */
.test{
	max-width: 100%;
}
input[type=radio]{
position: absolute;
left: -9999px;
}
.cadre-demo1 label{
cursor:pointer/*on pointe tous les labels*/
}
.cadre-demo2 label{
cursor:pointer/*on pointe tous les labels*/
}
.cadre-demo1{
overflow: hidden;
position: relative;
/* height: 400px; */
width: 50%;
margin: auto;
}
.cadre-demo2{
overflow: hidden;
position: relative;
max-width: 50%;
margin: auto;
}
.photos-mini{
	padding-top: 400px;/* il s'agit du ratio pour le responsive*/
	display: flex;
}

.miniature{
	flex: 1; /*les photos occupent la même place selon la largeur du conteneur*/
	padding:.25rem;
}
.fenetre{/*grande photo*/
	height: 400px;
	object-fit: cover;
	position: absolute;
	top: 0;
	transition:all .6s;
	left: -100%;
	opacity: 0;
}
.fen:checked~ .fenetre{
	left: 50%;
	transform: translate(-50%, 0);
	opacity: 1;
}
.cadre-demo1 .fen1:checked~ .fenetre{
	left: 50%;
	transform: translate(-50%, 0);
	opacity: 1;
}
figcaption{/*optionnel*/
position: absolute;
top: 0;
left: 0;
padding: .25rem;
transition: opacity .4s;
opacity: 0;
display: flex;
justify-content: center;
color: white;
background: hsla(0,0%,0%,.8);
}

.fen:checked~figcaption{
opacity: 1;
	}

/* fin loisir */
/* contact */

.contact{
	margin: 150px 0px;
}
.telephone{
	display: inline-block;
	width: 50%;
	text-align: center;
}
.email{
	display: inline-block;
	width: 50%;
	float: right;
	text-align: center;
}

/* fin contact */
footer{

}


@media screen and (max-width:480px) {
	body{
		margin:0;
	}
	.cv{
		display: none;
	}
	.contact{
		display: none;
	}
	.navbar a{
		padding:0;
	}
	.navbar{
		width: 12%;
	}
	.nav-mobile{
		display: block;
		/* width: 100%; */
	}
	.nav-pc{
		display: none;
	}
	.navmobile{
		display: block;
		width: 40px;
	}
	#nav img{
		width: 100%;
	}
	span{
		margin: 2px;
		left: 0;
	}
	.flex{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		width: 100%;
		position: fixed;
		z-index: 1;
		top: 0;
		overflow-x: hidden;
		padding-top: 5px;
	}
	.navmobile>ul{
		list-style-type: none;
	}
/* header */
	header>div>h1{
		font-size: 35px;
	}
	header>div>h2{
		font-size: 18px;
	}
	.opacity{
		top: 155px;
	}
	header{
		height: 15em;
	}
	/* fin  header */
	/* a propos */
	.rond{
		width: 200px;
		height: 200px;
	}
	/* fin a propos */
	/* Tab */
	.tablink{
		font-size: 12px;
		padding: 14px 0;
	}
	/* fin Tab */
	/*informatique  */
	.col .width{
		width: 30%
	}
	.col{
		display: block;
		width: 100%;
		text-align: center;
	}
	/* fin informatique */
/* portfolio */

/* fin portfolio */
}
